{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{% for posts in posts %}
    <h2>{{ posts.titre }}</h2>
    <div>{{ posts.contenu|raw }}</div>
{% endfor %}

{% endblock %}
